.container {
    background: linear-gradient(blue, #f4f4f4);
}

#list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    margin: 4px 0;
    background: #f4f4f4;
    border-radius: 4px;
}

#list li:hover {
    background: #e2e2e2;
}

.delete-icon {
    display: none;
    cursor: pointer;
    color: red;
    margin-left: 10px;
}

#list li:hover .delete-icon {
    display: inline;
}